html,
body {
    height: 100%;
}
body {
    font-family: $font-primary;
    background-color: $color-background;
    margin: 0;
}
h1 {
    font-family: $font-primary;
    font-size: 40px;
    margin: 0px;
    margin-top: 10px;
}
h2 {
    color: $color-primary;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper {
    flex: 1 0 auto;
}
.container {
    max-width: 375px;
    margin: 0 auto;
}