html,
body {
    height: 100%;
}
body {
    font-family: $font-primary;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper {
    flex: 1 0 auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
footer {
    flex-shrink: 0;
    background: $color-primary;
    color: #000; // add a color variable
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}
