h3 {
    color: $color-white;
    background: $color-primary;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}
.col {
    background: $color-white;
    border-radius: 5px;
    height: 275px;
}
.p-title {
    padding: 10px;
    margin: 10px;
}